# Python cache
__pycache__/
*.pyc
*.py[cod]
*.pyo

# Large output files
*.npy
*.nrrd
test_phantom_output/optimization/
test_phantom_output/native_gtx1080ti/

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
dosecuda-env/
*.env
*.venv
env/
venv/
.spack-env/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
